.bg-light {
  background-color: #f3f3f7 !important;
}

/* Buttons */
.button-neutral {
  background-color: #d7d7e4 !important;
  color: #1f1f59 !important;

  &:hover {
    background-color: #d7d7e4;
  }
}
