/* Overridex */
.bg-light {
  background-color: #f3f3f7 !important;
}
.no-gutters {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.formOverride {
  .CustomForm {
    padding: 0 !important;
    
    .form-group {
      margin-bottom: 12px;
    }
  }
}

/* Buttons */
.button-neutral {
  background-color: #d7d7e4 !important;
  color: #1f1f59 !important;

  &:hover {
    background-color: #d7d7e4;
  }
}
