/* Overridex */
.bg-light {
  background-color: #f3f3f7 !important;
}
.no-gutters {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.CustomForm {
  padding: 0 !important;

  .form-group {
    margin-bottom: 0;
  }
  
  button[type="submit"] {
      width: 100%;
  }
}

.form-override {
  z-index: 2;
}

.form-override--query  {
  margin-top: -16px;
  margin-bottom: 12px;
  z-index: 1;
}

.footerContainer {
  padding: 12px;
}

.reset-paragraph > p {
  margin: 0 !important;
}

.link-sm {
  font-weight: 500;
  text-decoration: underline;
  font-size: 12px;
}

/* Buttons */
.button-neutral {
  background-color: #EBEBF1 !important;
  color: #1f1f59 !important;

  &:hover {
    background-color: #d7d7e4;
  }
}

/* Text */
.text-primary {
  color: #1F1F59 !important;
}
.text-primary-50 {
  color: #3535CD;
   a {
    color: #3535CD !important;
  }
}
